:root{
  --pago-color:#A1DF7D;
  --red-gradient: linear-gradient(to right, #E52D27 0%, #B31217 100%);
  --green-gradient:linear-gradient(180deg, #27DD9B 0%, #24FE41 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: var(--red-gradient)
}

h1, p{
  text-align: center;
}

h1{
  font-size: 2.4rem;
  font-weight: 400;
}
p{
  color: #8a8a8a;
  font-weight: bold;
  font-size: 0.9rem;
}

a{
  padding: 5px 25px;
  align-self: flex-end;
  text-decoration: none;
  background-color: var(--pago-color);
  color: black;
  border-radius: 4px;
}

a:hover{
  box-shadow: inset 175px 0 0 0 #00B697;
  transition: .6s;
}

div{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

table{
  margin-top: 20px;
  width: 100%;
}

.td-buttons {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.td-valor {
  text-align: center;
}

th{
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 400;
}

td{
  max-height: 25px!important;
  padding: 8px 16px;
  border-top: 1px solid rgba(0, 0, 0,.2);
  box-sizing: content-box;
}



tr.trBill:hover{
  background-color: rgba(229, 45, 39,.3);
  transition: .3s;
}

.modal{
  margin-top: 0;
  background-color: rgba(0,0,0,.4);
}

.btn-primary{
  background-color: red;
  background: var(--red-gradient);
  border: 1px solid red;
}

.btn-primary:focus{
  outline: none!important;
  border: 1px solid red!important;
}

input{
  width: 95%;
  padding: 6px 8px;
  border: none;
}

input#valor{
  max-width: 200px;
}

input::placeholder{
  font-size: 0.75rem;
}

input:focus, 
.delete:focus,
.pago:focus{
  outline: none;
}

.done{
  background-color: var(--pago-color);
  text-decoration: line-through;
  opacity: 0.8;
}

@media(max-width:992px){
  .container{
    width:95%!important;
  }
}

.container{
  max-width: 950px!important;
  margin: 20px auto 20px;
  padding: 40px!important;
  background-color: #F4F1E3;
  border-radius: 4px;
  box-shadow: 0px 8px 64px 0 rgba(0,0,0,.2)
}

.results{
  text-align: center;
}

.results th{
  color: rgba(0,0,0,.7)
}

.results td:nth-child(2){
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
div.options{
  margin: 0;
  display: flex;
}

.pago{
  margin-right: 15px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100%;
  color: #1a1a1a;
  background: var(--green-gradient);
}



.delete{
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100%;
  color: #1a1a1a;
  background-image: var(--red-gradient);
}

.delete:hover{
  background-color: #C6F8FF;
  transition: .3s;
}

.div-value{
  margin-top: 0;
}
